<nav class="navbar navbar-light bg-light">
  <% if current_user.is_a?(Admin) %>
    <%= link_to 'TestGuru' , admin_tests_path, class: 'navbar-brand' %>
  <% else %>
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <% end %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %> <b><%= current_user.first_name %></b> Guru |
      <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.registration'), new_user_registration_path%>
      <%= link_to t('.login'), new_user_session_path%>
    <% end %>
  </span>
</nav>
