<h1><%= t('.header', title: @result.test.title) %> </h1>

<% if @result.test_full_completed? %>
	<h3 style='color:#00FF00;'><%= t('.percent')%>: <%= @result.results_percent %> %</h3>
<% else %>
	<h3 style='color:#FF0000;'><%= t('.percent')%>: <%= @result.results_percent %> %</h3>
<% end %><br>
<p><%= link_to t('.feedback'), new_user_feedback_path(current_user)%> </p>
<%= link_to t('.link_to_back'), tests_path%>
