<h1><%= t('.passing')%> : <%= @result.test.title%></h1>
<% if @result.current_question.present?%>
	<b>
		<%= @result.current_question.body %>
	</b>

	<%= form_with url: result_path(@result), local: true, method: :put do |form|%>
	  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers,
																		:id, :body, include_hidden: false do |b|%>
			<p>
				<%= b.check_box id: "answer_ids_#{b.object.id}" %>
				<%= b.label%>
			</p>
		<% end %>
		<%= form.submit t('.next')%>
	<% end %><br>
	<% else %>
		<b style= 'color:#7B68EE'>Questions missing</b> <br>
		<%= link_to t('.link_to_back'), tests_path%>
	<% end %><br>
