<tr>
  <td><%=test.title%></td>
  <td><%=test.level%></td>
  <td><%= link_to 'Show',admin_test_path(test)%>
      <%= link_to 'Edit', edit_admin_test_path(test)%>
      <%= link_to 'Delete',
          admin_test_path(test),
          method: :delete,
          data: {confirm: 'Are yuu sure?'}%>
  </td>
</tr>
